.App {
  font-family: sans-serif;
  text-align: center;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
/* Zebra striping */

.td {
  max-width: 100%;
  padding: 6px;
  text-align: center;
}
.td:hover {
  border: #ff4a4a;
}
.tr {
  width: 100%;
}
.card {
  font-size: 12px;
}
.card:hover {
  border: #ff4a4a;
}
.card > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 14px;
  text-align: center;
}
